header {
    background: #fefff7;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
    color: #333333;
    float: left;
    border-bottom: solid grey;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#me {
    background: #6ea3da;
    width: 15%;
    height: 100%;
    padding: 21px;
    color: white;
    text-align: center;
    font-size: 30px;
    float: left;
}

#bio-image {
    width: 170px;
    height: 170px;
}

#headerblank {
    width: 38%;
    float: left;
    visibility: hidden;
}

#navi {
    float: left;
    background: #fefff7;
    height: 30px;
    padding: 20px;
}

.a_nav {
    text-decoration: #888888;
    color: #888888;
    padding: 10px;
    font-size: 18px;
}

.icon-bar {
    padding: 0px;
    margin: 2px;
    text-decoration: none;
}

a.a_nav:hover {
    color: #6ea3da;
}

p {
    line-height: 125%;
}

#middle {
    background-image: url("../images/brickwall.png");
    clear: both;
    /*padding: 20px;*/
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#main {
    background: #fefff7;
    padding: 20px;
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 50%;
    border: 1px solid grey;
    float: left;
}

#right {
    background: #fefff7;
    padding: 20px;
    margin-left: 60px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 20%;
    float: left;
    border: 1px solid grey;
    /*align-content: center;*/
}

#picme {
    background: #999999;
    float: left;
    margin: 10px;
}

#mainTitle {
    color: #6ea3da;
    font-size: x-large;
}

#mainsection {
    background: #fefff7;
}

#myparagraph {
    line-height: 16px;
}

#connect {
    color: #6ea3da;
    font-size: x-large;
    text-align: center;
}

.apclass {
    margin: 15px;
    float: left;
    position: relative;
}

.dpclass {
    float: none;
    background: #6ea3da;
    color: white;
    position: absolute;
    bottom: 20px;
    width: 190px;
    padding: 15px;
    text-align: center;
}

.pics {
    width: 220px;
    height: 170px;
    /*margin: 20px;*/
}

.pics:hover {
    opacity:0.5;
}

#portlabel1 {
    float: left;
    position: relative;
    bottom: 0;
    z-index: 2;
}

#contact-info {
    align-content: center;
}

.label {
    color: #888888;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 5px;
}

.input {
    width: 100%;
}

#submitbuttondiv {
    padding-top: 20px;
}

input[type=submit] {
    padding: 8px 20px;
    background: #6ea3da;
    color: #fefff7;
    font-size: 20px;
    border: 0 none;
    cursor: pointer;
    /*-webkit-border-radius: 5px;*/
    /*border-radius: 5px;*/
}

#cicons {
    text-align: center;
}

hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

footer {
    clear: both;
    background: #999999;
    text-align: center;
    padding: 20px;
    /*margin-top: 5px;*/
    border-top: thick solid #6ea3da;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: x-small;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

footer:after {
    content: "\00a9 Copyright 2017 Curtis Lytle";
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 980px){
    #mainsection {
        clear: both;
    }
    #bio-image {
        width: 350px;
        height: 350px;
    }
    #connect {
        font-size: 16px;
    }

}

@media screen and (max-width: 766px){
    #connect {
        font-size: x-large;
        text-align: left;
    }
    #cicons {
        text-align: left;
    }
    #right {
        width: 100%;
    }

}

@media screen and (max-width: 640px){

}